# Server / cPanel / mail / logs / temp
.cpanel/
.caldav/
etc/
mail/
logs/
tmp/
.lastlogin

# WordPress config
wp-config.php
public_html/wp-config.php
wp-config-local.php

# Generated / cache
public_html/error_log
public_html/wp-admin/error_log
public_html/wp-content/uploads/
public_html/wp-content/languages/
public_html/wp-content/languages/plugins/

# Env / misc
.env
.env.local
node_modules/
vendor/
*.log
.DS_Store
Thumbs.db
public_html/wp-content/plugins/fluentformpro/src/Integrations/Notion/API.php
/public_html/wp-content/plugins/fluentformpro/src/Integrations
